@using SimpleTaskSystem.Web.Startup
@model Abp.Application.Services.Dto.ListResultDto<SimpleTaskSystem.Tasks.Dtos.ProjectListDto>
@{
    ViewData["Title"] = L("ProjectList");
    ViewBag.ActiveMenu = PageNames.ProjectList;
}

<h2>@L("ProjectList")</h2>

<div class="row">
    <div>
        <ul class="list-group" id="ProjectList">
            @foreach (var project in Model.Items)
            {
                <li class="list-group-item">
                    <h4 class="list-group-item-heading">@project.Title</h4>
                    <div class="list-group-item-text">
                        @project.CreationTime.ToString("yyyy-MM-dd HH:mm:ss") | @(project.AssignedPersonName ?? L("Unassigned"))
                    </div>
                </li>
            }
        </ul>
    </div>
</div>